  <div class="center hero-unit">
    <h1><%=t :welcome_header%></h1>

    <h2>
      <%=t :welcome_message%>
    </h2>

    <%= link_to (t :signup), signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
