  <div class="navbar-lower navbar-inner navbar-inverse">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li><%= link_to (t :leagues),    leagues_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to (t :tournaments), '#' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to (t :global_rating), '#' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to (t :player), '#' %></li>
          <li class="divider-vertical"></li>
        </ul>
      </nav>
  </div>
